In [19]:
import pandas as pd
import re
import emoji
import numpy as np
from wordsegment import load, segment

In [21]:
df = pd.read_csv("C://Users//manka//Documents//Predictive Analytics//Project//Final//phemedata1.csv")

In [22]:
del df['Unnamed: 0']

In [23]:
df.head()

,news_url,title,no_of_retweets,label,length
0,news.bbc.co.uk,Charlie Hebdo became well known for publishing...,202,0,82
1,order-order.com,Charlie Hebdo’s Last Tweet Before Shootings ht...,144,0,89
2,breitbart.com/Columnists/Jam…,Prediction: the #CharlieHebdo massacre will no...,103,0,95
3,order-order.com,10:28am Charlie Hebdo account mocks ISIS leade...,116,0,136
4,demos.co.uk/people/max_win…,If your faith isn't strong enough to cope with...,105,0,137

In [24]:
def preprocessing(tweet):
    tweet = re.sub("@[A-Za-z0-9]+","",tweet)
    tweet = re.sub(r"(?:\@|http?\://|https?\://|www)\S+", "", tweet)
    tweet = " ".join(tweet.split())
    tweet = ''.join(c for c in tweet if c not in emoji.UNICODE_EMOJI)
    if '#' in tweet:
        tweet = tweet.replace("#", "").replace("_", " ")
    return tweet

In [25]:
df['title'] = df['title'].map(lambda tweet: preprocessing(tweet))

In [26]:
def url_processing(url):
    url = url.replace('www.', "")
    url = url.split('/')
    if re.match("(?:\@|http?\://|https?\:)", url[0]):
        return url[2]
    else:
        return url[0]

In [27]:
df['news_url'] = df['news_url'].map(lambda url: url_processing(url))

In [28]:
df.head()

,news_url,title,no_of_retweets,label,length
0,news.bbc.co.uk,Charlie Hebdo became well known for publishing...,202,0,82
1,order-order.com,Charlie Hebdo’s Last Tweet Before Shootings,144,0,89
2,breitbart.com,Prediction: the CharlieHebdo massacre will not...,103,0,95
3,order-order.com,10:28am Charlie Hebdo account mocks ISIS leade...,116,0,136
4,demos.co.uk,If your faith isn't strong enough to cope with...,105,0,137

In [16]:
df.to_csv(path_or_buf = 'C://Users//manka//Documents//Predictive Analytics//Project//Final//phemedata_cleaned.csv')

Now to merge both the cleaned databases into a single database. Make sure the politifact dataset is cleaned using the Politifact_cleaning notebook

In [29]:
df1 = pd.read_csv("C://Users//manka//Documents//Predictive Analytics//Project//Final//politifact_cleaned.csv")

In [30]:
del df1['Unnamed: 0']

In [32]:
df1.head()

,news_url,title,no_of_retweets,label,length
0,speedtalk.com,BREAKING: First NFL Team Declares Bankruptcy O...,163,1,64
1,politics2020.info,Court Orders Obama To Pay $400 Million In Rest...,102,1,53
2,nscdscamps.org,UPDATE: Second Roy Moore Accuser Works For Mic...,220,1,69
3,howafrica.com,Oscar Pistorius Attempts To Commit Suicide,22,1,42
4,washingtonsources.org,Trump Votes For Death Penalty For Being Gay,550,1,43

In [33]:
final = pd.concat([df1,df])

In [34]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4057 entries, 0 to 3000
Data columns (total 5 columns):
news_url          4057 non-null object
title             4057 non-null object
no_of_retweets    4057 non-null int64
label             4057 non-null int64
length            4057 non-null int64
dtypes: int64(3), object(2)
memory usage: 190.2+ KB

In [35]:
final.to_csv(path_or_buf = 'C://Users//manka//Documents//Predictive Analytics//Project//Final//final_data.csv')