In [1]:
import pandas as pd

In [83]:
df = pd.read_csv("C://Users//manka//Documents//Predictive Analytics//Project//fake.csv", index_col=0)

In [84]:
df.head()

,news_url,title,no_of_retweets,label
0,speedtalk.com/forum/viewtopic.php?t=51650,BREAKING: First NFL Team Declares Bankruptcy O...,163,1
1,politics2020.info/index.php/2018/03/13/court-o...,Court Orders Obama To Pay $400 Million In Rest...,102,1
2,www.nscdscamps.org/blog/category/parenting/467...,UPDATE: Second Roy Moore Accuser Works For Mic...,220,1
3,https://howafrica.com/oscar-pistorius-attempts...,Oscar Pistorius Attempts To Commit Suicide,22,1
4,http://washingtonsources.org/trump-votes-for-d...,Trump Votes For Death Penalty For Being Gay,550,1

In [66]:
df.drop('id', axis='columns', inplace=True)

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 432 entries, 0 to 431
Data columns (total 4 columns):
news_url          428 non-null object
title             432 non-null object
no_of_retweets    432 non-null int64
label             432 non-null int64
dtypes: int64(2), object(2)
memory usage: 16.9+ KB

In [68]:
df.drop_duplicates(subset='title', keep = 'first', inplace=True)

In [86]:
df1 = pd.read_csv("C://Users//manka//Documents//Predictive Analytics//Project//true.csv", index_col=0)

In [70]:
df1.drop('id', axis='columns', inplace=True)

In [71]:
df1.drop_duplicates(subset='title', keep = 'first', inplace=True)

In [87]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 624 entries, 0 to 623
Data columns (total 4 columns):
news_url          567 non-null object
title             624 non-null object
no_of_retweets    624 non-null int64
label             624 non-null int64
dtypes: int64(2), object(2)
memory usage: 24.4+ KB

In [ ]:
#Only for the phemedataset
df['length'] = df['title'].apply(len)

In [88]:
result = pd.concat([df,df1])

In [89]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1056 entries, 0 to 623
Data columns (total 4 columns):
news_url          995 non-null object
title             1056 non-null object
no_of_retweets    1056 non-null int64
label             1056 non-null int64
dtypes: int64(2), object(2)
memory usage: 41.2+ KB

In [90]:
result.to_csv(path_or_buf = 'C://Users//manka//Documents//Predictive Analytics//Project//politifact.csv')

After all the different datasets of rumours and non-rumours are merged we can then run the following cell to merge all the separate data together.

In [79]:
df1 = pd.read_csv("C://Users//manka//Documents//Predictive Analytics//Project//charliehebdo.csv", index_col=0)
df2 = pd.read_csv("C://Users//manka//Documents//Predictive Analytics//Project//ferguson.csv", index_col=0)
df3 = pd.read_csv("C://Users//manka//Documents//Predictive Analytics//Project//germanwings-crash.csv", index_col=0)
df4 = pd.read_csv("C://Users//manka//Documents//Predictive Analytics//Project//ottawashooting.csv", index_col=0)
df5 = pd.read_csv("C://Users//manka//Documents//Predictive Analytics//Project//sydneysiege.csv", index_col=0)

In [80]:
phemedata = pd.concat([df1,df2,df3,df4,df5])

In [81]:
phemedata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3001 entries, 0 to 353
Data columns (total 4 columns):
news_url          3001 non-null object
title             3001 non-null object
no_of_retweets    3001 non-null int64
label             3001 non-null int64
dtypes: int64(2), object(2)
memory usage: 117.2+ KB

In [ ]:
phemedata['length'] = phemedata['title'].apply(len)

In [91]:
phemedata.to_csv(path_or_buf = 'C://Users//manka//Documents//Predictive Analytics//Project//phemedata.csv')